@using AromaRestaurant.Models
@model MenuItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h2>Food Item: @Model.MenuName</h2>
<ul>
    <li>Menu Type: @Model.MenuType.Name</li>
    <li>Food Description: @Model.description </li>
    <li>Food Price: @Model.Price</li>
    <li>
        <img src="@Model.FoodUrl" alt="@Model.MenuName" />
    </li>
</ul>
